events {}
http {

        upstream backend {

                server {{ server1 }};
                server {{ server2 }};
	}
	
	server {
		listen 80;
		location / {
			proxy_pass http://backend;
		}
	}
}

